<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
	<title>PvdW</title>
</head>
<body>
		
	<div layout:fragment="content">
		
		<h2>Decoded data from qr</h2>
		<p>Simpson green pass</p>
		<br>
		<form action="encode_simpson"  method="post">
		<button type="submit">Encode Simpson QR</button>
		</form>
		<br>
		<p>Adolf green pass</p>
		<br>
		<form action="encode_adolf"  method="post">
		<button type="submit">Encode Adolf QR</button>
		</form>
		<br>
		

<img class="NO-CACHE" src="img/greenpass.png">


	</div>

</body>
</html>